astroid==2.4.2
autopep8==1.5.4
certifi==2021.10.8
click==8.0.4
distlib==0.3.4
filelock==3.6.0
Flask==2.0.3
isort==4.3.21
itsdangerous==2.1.1
Jinja2==3.0.3
lazy-object-proxy==1.4.3
MarkupSafe==2.1.0
mccabe==0.6.1
platformdirs==2.5.1
pycodestyle==2.6.0
pylint==2.5.3
six==1.15.0
toml==0.10.1
virtualenv==20.13.3
virtualenv-clone==0.5.7
Werkzeug==2.0.3
wrapt==1.12.1
