input[type='button'] {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: rgb(88, 101, 242);
    transition: background-color 0.17s ease, color 0.17s ease;
    margin: 10px 0;
}
input[type='button']:hover {
    background-color: rgb(71, 82, 196);
}

input[type='button']:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgb(88, 101, 242);
}
