<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='inputs.css')}}" />
        <script src="{{ url_for('static', filename='main.js')}}"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <ul>
            <li><a href="./queue">queue</a></li>
            <li><a href="./tree">tree</a></li>
            <li><a href="./sort">sort</a></li>
        </ul>
    </body>
</html>
