body {
    margin: 25px;
    max-width: 900px;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
p,
ul,
ol {
    font-size: 1.3em;
}
.ver {
    display: flex;
    flex-direction: column;
    width: 500px;
}

pre {
    font-size: 1.5em;
}

td {
    border: 1px solid;
}

td {
    padding: 1.6em;
}

thead {
    font-weight: bold;
}

